<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addword" method="POST">
        <label for="word">Word:</label><br>
        <input type="text" id="word" name="word"><br>
        <label for="def">Definition: </label><br>
        <input type="text" id="def" name="def"><br>
        <label for="exp">Explanation: (optional)</label><br>
        <input type="text" id="exp" name="exp"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <input type="submit" value="submit">
      </form>
      
</body>
</html>