{% extends 'layout.html' %}
{% block content %}
    {%for word in json_words%}
            <div class="container">
                <div class="row">
                    <div id="card" class="col col-md-8 col-lg-6">                            
                            <div class="row">
                                <div class="col">
                                    <div id="word">
                                        <p>
                                            word: {{word['word']}}
                                        </p>
                                    </div>
                            </div>
                            </div>
                        <div class="row">
                            <div class="col">
                                <div id="definition">
                                    <p>
                                        {{ word['definition']}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div id="exp">
                                    <p>
                                        {{ word['explanation']}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div id="upvote">
                                    <p>
                                        Handle : {{word['userHandle']}}
                                    </p>
                                </div>
                            </div> 
                        </div>
                        <div class="row">
                            <div class="col">
                                <div id="upvote">
                                    <p>
                                        Email : {{word['email']}}
                                    </p>
                                </div>
                            </div> 
                        </div>
                        <div class="row">
                            <div class="col">
                                        {% set wordID= word['_id']['$oid'] %}
                                    <form action="{{url_for('approve_word', word_id=wordID )}}" method="POST">
                                    <button class="btn btn-primary" type="submit">Approve</button>
                                </form> 
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    {% endfor %}
    {% endblock content %}