{% extends 'layout.html' %}
{% block content %}
<div class="container">
{%for word in json_words%}
  <div class="row">
    <div id="card" class="col col-md-8 col-lg-6">
      <div class="row">
        <div class="col">
          <div id="word">
            {{word['word']}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="definition">
            {{ word['definition']}}
          </div>
        </div>
      </div>
      {% if(word['exp'] != '') %}
      <div class="row">
        <div class="col">
          <div id="exp">
            {{ word['exp']}}
          </div>
        </div>
      </div>
      {%endif%}
      <br>
      <div class="row">
        <div class="col">
          <div id="userHandle">
            <p><i>Added by {{ word['userHandle']}} on <b>{{word['postedDate']['$date']}}</b></i></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 col-md-3">
          {%if word['upvote_status']==True%}
          <div id="upvote">
            <form action="/upvote/{{word['_id']}}" method="POST">
             <button style="border: none; all: unset;"><i class="fas fa-thumbs-up updown" style="font-size: 2rem;"></i>
             </button>&nbsp;&nbsp;{{word['upvote']}}
            </form>
          </div>
          {%else%}
          <div id="upvote">
            <form action="/upvote/{{word['_id']}}" method="POST">
             <button style="border: none; all: unset;"><i class="far fa-thumbs-up updown" style="font-size: 2rem;"></i>
             </button>&nbsp;&nbsp;{{word['upvote']}}
            </form>
          </div>
          {%endif%}
        </div>
        <div class="col-4 col-md-3">
          {%if word['downvote_status']==True%}
          <div id="downvote">
            <form action="/downvote/{{word['_id']}}" method="POST">
              <button style="border: none; all: unset;"><i class="fas fa-thumbs-down updown" style="font-size: 2rem;"></i>
              </button>&nbsp;&nbsp;{{word['downvote']}}
             </form>
          </div>
          {%else%}
          <div id="downvote">
            <form action="/downvote/{{word['_id']}}" method="POST">
              <button style="border: none; all: unset;"><i class="far fa-thumbs-down updown" style="font-size: 2rem;"></i>
              </button>&nbsp;&nbsp;{{word['downvote']}}
             </form>
          </div>
          {%endif%}

        </div>
      </div>
    </div>
  </div>
{% endfor %}
<div class="paginationRow">
<div class="row">
  <div class="col-4">
    {%if pageNo>1 %}
    <a href="{{prev_page}}">
      <i class="fas fa-chevron-left"></i>
      Previous</a>
      {%endif%}

  </div>
  <div class="col-4">
    <span style="color: brown;">Page(s) {{pageNo}} of {{totalPages}}</span>
  </div>
  <div class="col-4">
    {%if pageNo<totalPages %}
    <a href="{{next_page}}">Next
      <i class="fas fa-chevron-right"></i>
      {%endif%}
    </a>
  </div>
  
</div> 
 
</div>
{% endblock content %}

