{% extends 'layout.html' %} {% block content %} {%for word in json_words%}
<div class="container">
  <div class="row">
    <div id="card" class="col col-md-8 col-lg-6">
      <div class="row">
        <div class="col">
          <div id="word">
            <p>{{word['word']}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="definition">
            <p>{{ word['definition']}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="exp">
            <p>{{ word['explanation']}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="userHandle">
            <p>Added by<i> {{ word['userHandle']}} on <b>{{word['postedDate']}}</b></i></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 col-md-3">
          <div id="upvote">
            <p>Upvote : {{word['upvote']}}</p>
          </div>
        </div>
        <div class="col-4 col-md-3">
          <div id="upvote">
            <p>Downvote : {{word['downvote']}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %} {% endblock content %}
