<!DOCTYPE html>
<html lang="en">
  <head>

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,200&family=Ubuntu&family=Zen+Kurenaido&family=Zen+Old+Mincho:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="static/styles/logo/favicon.ico" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/bootstrap.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/home.css') }}"
    />
    <title>Urban Bangla</title>
    <script src="https://kit.fontawesome.com/151f99639a.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg  fixed-top" id="nav">
        <div class="container">
          <a class="navbar-brand" href="/">
            Urban Bangla 
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarColor01"
            aria-controls="navbarColor01"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item" >
                <div class="row">
                  <div class="col">
                    <a class="nav-link active"  href="/addword"
                    >
                    <div class="row">
                      <div class="col">
                        <i class="fa-solid fa-circle-plus"></i>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        Add Word
                      </div>
                    </div>
                    <span class="visually-hidden">(current)</span>
                  </a>
                </div>
              </div>
              </li>
            </ul>
            {% if not session.get('google_id')%}
            <ul class="navbar-nav ms-auto">
              <li class="nav-item" >
                <div class="row">
                  <div class="col">
                <a class="nav-link active" href="/user"
                >
                <div class="row">
                  <div class="col">
                    <i class="fa-solid fa-user"></i>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                Sign in
              </div>
            </div>
                <span class="visually-hidden">(current)</span>
              </a>
            </div>
          </div>
            </li>
          </ul>
          {%else%}
          <ul class="navbar-nav ms-auto">
            <li class="nav-item" >
              <div class="row">
                <div class="col">
              <a class="nav-link active" href="/user/logout"
              >
              <div class="row">
                <div class="col">
                  <img src="{{session['picture']}}" alt="" id="profilepic">
                </div>
              </div>
              <div class="row">
                <div class="col">
              Logout
            </div>
          </div>
              <span class="visually-hidden">(current)</span>
            </a>
          </div>
        </div>
          </li>
        </ul>
          {%endif%}
            <form class="d-flex ms-auto" 
            method="get"
            action="/search"
            >
              <input
                class="form-control me-sm-1"
                type="text"
                name="search"
                placeholder="Search by word..."
              />
              <button class="btn btn-secondary" type="submit">
                Search
              </button>
            </form>
          </div>
        </div>
      </nav>
      <div class="row">
        <div class="col-12 col-sm-8">

          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul class="flashes" id="loginFlash">
            {% for message in messages %}
            <div class="alert alert-dismissible alert-success">
              <button type="button" class="btn-close" data-bs-dismiss="alert" style="color:green;"></button>
              <strong>
              
                <li>{{ message }}</li>
              </strong>
            </div>
            {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}
        </div>
      </div>
      
    </div>
    <br>
    <div id="mainPage">

      {% block content %} {% endblock content %}
    </div>
  </body>
</html>
