body{
    background-color: aqua;
}
#card{

    position: absolute;
    width: 501.23px;
    height: 397.58px;
    left: 469.77px;
    top: 205px;
    
    background: #FFFFFF;
    border: 0.0776231px solid rgba(0, 0, 0, 0.9);
}


#exp{

    position: absolute;
    width: 501.23px;
    height: 129.17px;
    left: 469.77px;
    top: 379.04px;
   
    background: #FFFFFF;
    border: 0.773498px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}


#definition{

    
    
    position: absolute;
    width: 501.23px;
    height: 114.48px;
    left: calc(50% - 501.23px/2 + 0.39px);
    top: calc(50% - 114.48px/2 - 190.98px);
    
    background: #FFFFFF;
    border: 0.773498px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    
}
 

#word{

    position: absolute;
    width: 502px;
    height: 60.33px;
    left: calc(50% - 502px/2);
    top: calc(50% - 60.33px/2 - 276.83px);
    
    background: #B4C1D6;
    mix-blend-mode: normal;
    border: 0.773498px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}
    
 
#upvote
{

    position: absolute;
    width: 92.82px;
height: 74.26px;
left: 615.19px;
top: 528.32px;

background: #FFFFFF;
border: 0.773498px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;
}



#downvote
{

    position: absolute;
    width: 92.82px;
    height: 74.26px;
    left: 735.08px;
top: 529.87px;

background: #FFFFFF;
border: 0.773498px solid rgba(0, 0, 0, 0.5);
box-sizing: border-box;
}

